HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Maven
target/
*.log
*.jar
*.war
*.ear

# OS specific files
.DS_Store
Thumbs.db

# Build system files
*.class
*.jar

#ENV
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
